*.aux
*.bbl
*.blg
*.todo
*.pdfsync
*.out
*.log
paper.pdf
/*.pdf
!bird_cv.pdf
!uc_davis_logo.pdf
*~
*.sw?
/.gvim-init.vim
/.project-aliases
/.vimproject
wp/CABirdWordPress/CABirdWordPress/bin/Debug/CABirdWordPress.exe.config
wp/CABirdWordPress/CABirdWordPress/bin/Debug/CABirdWordPress.vshost.exe.config
wp/CABirdWordPress/CABirdWordPress/bin/Debug/CABirdWordPress.vshost.exe.manifest
wp/CABirdWordPress/CABirdWordPress/obj/
*.out
